@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<header></header>

<body>
    <h1 style="font-size:70px;text-family:arial;">Hồ Nhật Trung - T177345</h1>
    <table style="width:50%">
        <tr>
            <td>345 Nguyễn Văn Công, phường 3, quận Gò Vấp</td>
            <td>Email: hntrung2900[at]gmail.com</td>
        </tr>
        <tr>
            <td>,Thành phố Hồ Chí Minh</td>
            <td>trung.t177345[at]vanlanguni.vn</td>
        </tr>
        <td>,Việt Nam.</td>


    </table>
    <p>
        <h1> Self Information</h1>
        <table style="width:50%">
            <tr>
                <td><img src="~/content/trung.jpg" / alt="Anh dai dien" width="149" height="209"></td>
                <td>
                    Tên đầy đủ: Hồ Nhật Trung. 
                    <br>
                    Năm sinh: 17-10-1999.
                    <br>
                    Quốc tịch: Việt Nam.
                    <br>
                    Giới tính: Nam.
                </td>
            </tr>
        </table>
    </p>

    <p>
        <h1>Education</h1>
        Trình độ: 12/12.
        <br>
        Trường tiểu học Vạn Thạnh
        <br>
        Trường THCS Trưng Vương
        <br>
        Trường THPT Quốc tế ISchool Nha Trang
        <br>
        Hiện đang là sinh viên năm 2 của trường ĐH Văn Lang.
        <br>
        Chuyên ngành: Kỹ thuật phần mềm.

    </p>
    <h1>Skills</h1>
    <ul>
        <li>Có kiến thức về ngôn ngữ C# và Java.</li>
        <li>Sử dụng được 2 thứ tiếng:  tiếng Anh, tiếng Mexico. </li>
    </ul>
    <p>
        <h1>Certifications</h1>
        <ul>
            <li>Bằng tốt nghiệp trung học phổ thông </li>

        </ul>
    </p>
</body>
</html>

